<h1>{{title}}</h1>

<p>Nombre: {{user.first_name}} {{user.last_name}}</p>
<p>Edad: {{user.age}}</p>
<p>Email: {{user.email}}</p>

<a href="/edit">
  <button type="button">Editar perfil</button>
</a>

{{!-- ¿Cómo implementariamos el cierre de sesión sabiendo que hay un endpoint para eso? --}}
<form action="/api/sessions/logout" method="POST">
  <button type="submit">Cerrar sesión</button>
</form>